<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.his.mapper.HisDeptsCareMapper">

    <resultMap type="HisDeptsCare" id="HisDeptsCareResult">
        <result property="deptsCareId"    column="depts_care_id"    />
        <result property="deptsId"    column="depts_id"    />
        <result property="deptsName"    column="depts_name"    />
        <result property="deptsSum"    column="depts_sum"    />
    </resultMap>

    <sql id="selectHisDeptsCareVo">
        select depts_care_id, depts_id, depts_name, depts_sum from his_depts_care
    </sql>

    <insert id="insertHisDeptsCare" parameterType="HisDeptsCare" useGeneratedKeys="true" keyProperty="deptsCareId">
        insert into his_depts_care
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptsId != null">depts_id,</if>
            <if test="deptsName != null">depts_name,</if>
            <if test="deptsSum != null">depts_sum,</if>.0..
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptsId != null">#{deptsId},</if>
            <if test="deptsName != null">#{deptsName},</if>
            <if test="deptsSum != null">#{deptsSum},</if>
        </trim>
    </insert>

    <update id="updateHisDeptsCare" parameterType="HisDeptsCare">
        update his_depts_care
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptsId != null">depts_id = #{deptsId},</if>
            <if test="deptsName != null">depts_name = #{deptsName},</if>
            <if test="deptsSum != null">depts_sum = #{deptsSum},</if>
        </trim>
        where depts_care_id = #{deptsCareId}
    </update>


    <select id="selectHisDeptsCareList" parameterType="HisDeptsCare" resultMap="HisDeptsCareResult">
        <include refid="selectHisDeptsCareVo"/>
        <where>
            <if test="deptsId != null "> and depts_id = #{deptsId}</if>
            <if test="deptsName != null  and deptsName != ''"> and depts_name like concat('%', #{deptsName}, '%')</if>
            <if test="deptsSum != null  and deptsSum != ''"> and depts_sum = #{deptsSum}</if>
        </where>
    </select>

    <select id="selectHisDeptsCareById" parameterType="Long" resultMap="HisDeptsCareResult">
        <include refid="selectHisDeptsCareVo"/>
        <where>
            <if test="deptsId != null "> and depts_id = #{deptsId}</if>
        </where>
    </select>

    <select id="DeptsCareById"  parameterType="Long" resultMap="HisDeptsCareResult">
        <include refid="selectHisDeptsCareVo"/>
        <where>
            <if test="deptsCareId != null "> and depts_care_id = #{deptsCareId}</if>
        </where>
    </select>
</mapper>
